/* Main container */
.main-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 5px;
}

.main-container h3, h4 {
  display: block;
  width: 100%;
}

.main-container h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.main-container h4 {
  font-size: 1.2rem;
  color: #555;
  margin-top: 0;
  margin-bottom: 5px;
}

.top-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 5px;
}

.top-left-side {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

/* Main image styling */
.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}

/* Right side in the top container (other images) */
.top-right-side {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  padding-left: 20px;
  height: auto;
}

.other-images {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.other-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-right-side .other-images {
  max-width: 100%;
  max-height: 430px;
}

/* Mid container (hosted by, description, price, reviews, and reserve) */
.mid-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Left side in the mid container (hosted by and description) */
.mid-left-side {
  flex: 1;
  margin-right: 20px;
}

.mid-left-side h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.mid-left-side p {
  font-size: 1rem;
  color: #666;
}

/* Right side in the mid container (price, review count, reserve) */
.mid-right-side {
  flex: 0.4;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.price-rating-container {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 5px;
}

.price {
  font-size: 1.5rem;
  white-space: nowrap;
  color: #333;
}

.mid-rating-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mid-rating-container svg {
  margin-right: 5px; /* Add some space between the star icon and rating */
  font-size: 30px;
  margin-top: -5px;
}

.mid-rating {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  color: #333;
}

.mid-reviews-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mid-reviews {
  font-size: 1.4rem;
  color: #333;
  display: flex;
  align-items: center;
}

.mid-reviews-container svg {
  margin-right: 5px;
  font-size: 20px;
}

.mid-right-side button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 5px;
}

.mid-right-side button:hover {
  background-color: #45a049;
}

/* Horizontal line */
hr {
  width: 100%;
  border: 1px solid black;
  margin: 10px 0;
}

/* Bottom container (reviews) */
.bottom-container {
  margin-top: 2px;
  color: #333;
}

.bottom-rating-reviews {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bottom-rating {
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-top: -2px;
}

.bottom-rating svg {
  margin-top: -5px;
}

.bottom-reviews-container {
  display: flex;
  align-items: center;
}

.bottom-reviews {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.bottom-reviews-container svg {
  margin-left: 5px;
  margin-top: 0px;
  font-size: 18px
}

.review-list-details {
  padding: 15px;
  background-color: #f1f1f1;
  border-radius: 8px;
  margin-bottom: 5px;
}

.review-list-details h3 {
  font-size: 1.2rem;
  margin-bottom: 2px;
}

.review-list-details h4 {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 2px;
}

.review-list-details p {
  font-size: 1rem;
  color: #333;
}
